.button-wrapper {
  position: relative;
  border-radius: 0.5rem;

  &::before,
  &::after {
    content: "";
    position: absolute;
    inset: var(--border-inset, 0);
    border-radius: 0.5rem;

    transform-origin: center;
  }

  &::before {
    background: var(--gradient-border);
    z-index: -2;
    opacity: 0;
  }

  &::after {
    background: var(--gradient-border-after);
    z-index: -1;
    opacity: 0;
  }

  &.is-animating {
    &::before {
      opacity: 1;
      transition: transform 0s 1.6s;
      transform: scaleX(var(--before-gradient, 1));
      transition: inset 150ms;
    }

    &::after {
      animation: gradientFade 2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
      transition: inset 150ms;
    }

    & button img {
      animation: slideX 2s ease forwards;
    }
  }

  & button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    width: 100%;
    padding-block: 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;

    font: var(--label-sm);
    color: var(--content-primary);
    background-color: var(--background-tertiary);
  }
}

@keyframes gradientFade {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0.5;
  }

  30% {
    opacity: 1;
  }

  40% {
    opacity: 0.5;
  }

  50% {
    opacity: 0;
  }

  60% {
    opacity: 0.5;
  }

  70% {
    opacity: 1;
  }

  80% {
    opacity: 0.5;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes slideX {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(0.75rem);
  }

  100% {
    transform: translateX(0);
  }
}
