.checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-block: 1.25rem 2.5rem;

  & .checkbox-inner {
    width: 1.875rem;
    height: 1.25rem;
    background: var(--content-tertiary);
    border-radius: 1rem;
    position: relative;

    &:has(input:checked) {
      background: var(--gradient-background);
    }

    & input[type="checkbox"] {
      position: absolute;
      inset: 0;
      opacity: 0;
      z-index: 1;
      cursor: pointer;
    }

    & span {
      display: inline-block;
      width: 0.875rem;
      height: 0.875rem;
      border-radius: 50%;
      background: var(--content-primary);

      position: absolute;
      top: 50%;
      transform: translateY(-50%) translateX(0.2rem);
    }

    & input[type="checkbox"]:checked + span {
      animation: fadeIn 1.5s forwards;
    }

    & input[type="checkbox"]:not(checked) + span {
      animation: fadeOut 1.5s forwards;
    }
  }

  & > span {
    font: var(--fw-regular) 0.75rem / 150% var(--ff-inter);
    color: var(--content-primary);
    margin-block: 0.062rem;
  }
}

@keyframes fadeIn {
  30% {
    transform: translateY(-50%) translateX(0.88rem);
  }

  40% {
    transform: translateY(-50%) translateX(0.8rem);
  }

  70% {
    transform: translateY(-50%) translateX(0.88rem);
  }

  80% {
    transform: translateY(-50%) translateX(0.8rem);
  }

  100% {
    transform: translateY(-50%) translateX(0.8rem);
  }
}

@keyframes fadeOut {
  30% {
    transform: translateY(-50%) translateX(0.12rem);
  }

  40% {
    transform: translateY(-50%) translateX(0.2rem);
  }

  100% {
    transform: translateY(-50%) translateX(0.2rem);
  }
}
