.form-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;

  & label {
    font: var(--label-sm);
    color: var(--content-secondary);
    cursor: pointer;
    transition: color 250ms ease;
  }

  & .input-wrapper {
    border-radius: 0.5rem;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
      border-radius: 0.5rem;
      background: var(--gradient-border);

      transform: scale(1);
      opacity: 0;

      transition: opacity 250ms ease, transform 250ms ease;
    }

    & input[type="text"] {
      padding: 0.25rem 0.5rem;
      background-color: var(--background-secondary);
      border: none;
      border-radius: 0.5rem;
      outline: none;
      font: var(--display-small);
      line-height: 150%;
      color: var(--content-primary);
      width: 5.375rem;
      text-align: center;
      caret-color: transparent;
      cursor: pointer;

      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: textfield;

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      transition: background 250ms ease;
    }
  }

  &:hover,
  &:focus-within {
    & label {
      color: var(--background-brand);
    }

    & input[type="text"] {
      background: var(--background-tertiary);
    }
  }

  &:hover .input-wrapper::before {
    opacity: 1;
    transform: scale(1.02);
  }

  &:focus-within .input-wrapper::before {
    opacity: 1;
    transform: scale(1.06);
  }
}
