.form-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;

  & .input-wrapper {
    border-radius: 0.5rem;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
      border-radius: 0.5rem;
      background: var(--gradient-border);

      transform: scale(1);
      opacity: 0;

      transition: opacity 250ms ease, transform 250ms ease;
    }

    & input[type="text"] {
      padding: 0.25rem 0.5rem;
      background-color: var(--background-secondary);
      border: none;
      border-radius: 0.5rem;
      outline: none;
      width: 5.375rem;
      text-align: center;
      caret-color: transparent;
      cursor: pointer;

      transition: background 250ms ease;
    }
  }

  &:hover,
  &:focus-within {
    & label {
      color: var(--background-brand);
    }

    & input[type="text"] {
      background: var(--background-tertiary);
    }
  }

  &:hover .input-wrapper::before {
    opacity: 1;
    transform: scale(1.02);
  }

  &:focus-within .input-wrapper::before {
    opacity: 1;
    transform: scale(1.06);
  }
}
