.content-sortition {
  width: 30.125rem;
  transform: translateY(6.687rem);

  & header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
  }

  & .result-sortition {
    display: flex;
    justify-content: center;
    gap: 0.25rem;

    margin-block: 2.5rem;

    & .result-number {
      display: flex;
      justify-content: center;
      align-items: center;

      padding-block: 0.5rem;
      position: relative;
    }

    & .result-number-animation {
      width: 5.25rem;
      height: 5.25rem;
      border-radius: 1.75rem;

      background: var(--content-brand);
    }

    & .txt-result-number {
      display: flex;
      justify-content: center;
      align-items: center;

      position: absolute;
    }
  }

  @media (width < 1280px) {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    transform: translateY(0rem);
    height: 18.375rem;
    margin-block: 4.437rem 4.312rem;
  }
}

@keyframes slideDrawNumber {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }

  20% {
    opacity: 1;
    transform: scale(1.2);
    background: var(--content-brand);
  }

  60% {
    transform: scale(1.2) rotate(180deg);
  }

  70% {
    transform: scale(1.21) rotate(180deg);
    opacity: 1;
  }

  80%,
  100% {
    transform: scale(1) rotate(180deg);
    opacity: 0;
  }
}

@keyframes slidenumber {
  0%,
  25% {
    opacity: 0;
    color: none;
  }

  35%,
  60% {
    transform: scale(1.2);
    opacity: 1;
    color: var(--color-inverse);
  }

  70% {
    transform: scale(1.21);
  }

  100% {
    transform: scale(1);
    color: none;
    color: var(--content-brand);
  }
}

.animate-result-number-animation {
  animation: slideDrawNumber 3s ease forwards;
}

.animate-txt-result-number {
  animation: slidenumber 3s ease forwards;
}
