.container {
  --max-width: 1280px;
  width: min(var(--max-width), 100% - var(--px-md) * 2);
  margin-inline: auto;

  margin-block: var(--py-md) var(--py-lg);
}

.hidden {
  display: none;
}

.even-column {
  flex-direction: row;
}

@media (width < 1280px) {
  .container {
    --max-width: 390px;

    margin-block: var(--py-md) 0rem;
  }

  .even-column {
    flex-direction: column;
  }
}
